* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image-container {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.header {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.author-name {
  margin-left: 20px;
}

.thumbs-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  margin-left: 20px;
}

.thumbs-up-icon {
  cursor: pointer;
  color: blue;
}